/* body {
  background-image: url('https://cdn.pixabay.com/photo/2021/04/29/05/03/desert-6215514_1280.jpg');
  background-size: cover;
} */

@font-face {
  font-family: 'ImcreSoojin';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  color: #000;
  font-family: 'Jua', sans-serif;
}

.dreamdream{
  font-family: 'ImcreSoojin';
  font-size: 60px;
  font-weight: 100;
}
.contents1{
  font-family: 'ImcreSoojin';
  font-size: 30px;
  font-weight: lighter;
}

.contents2{
  font-size: 24px;
}

.contents3{
  font-size: 14px;
  font-weight: 100;
}

.contents1_bold{
  font-size: 18px;
  font-weight: bold;
}

/* 위쪽은 공통 폰트 */

.intro_bg{
  background-image:url("https://cdn.pixabay.com/photo/2021/04/29/05/03/desert-6215514_1280.jpg");
  width:100%;
  height: 630px;
  background-size: cover;
}

.header{
  display: flex;
  width:1280px;
  margin:auto;
  height: 86px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  width:calc(1280px - 300px);
  line-height: 86px;    
}

.nav >li {
  margin-left: 84px;
}

.nav >li > a {
  color: #000;
}


.intro_text{
  width:100%;
  margin: 231px auto 231px auto;
  text-align: center;

}

.intro_text >h1,
.intro_text >h4 {
  color: #000;
}

.amount{
  position: relative;
  top:-66px;
  display: flex;
  width: 1280px;
  background: #fff;
  margin: auto;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.amount > li {
  height: 132px;
  flex: 1; 
}

.amount > li > div {
  text-align: center;
  height: 57px;
  margin-top: 38px;
}

.amount > li:not(:last-child) > div{
  border-right: 1px solid #e1e1e1;
}

/* main_text0 */
.main_text0{
  width: 100%; 
  height: 601px;
  background: #f1f2f3;
  margin-top: -132px;
}

.main_text0 > h1 {
  padding-top: 116px;
  text-align: center;
}

.main_text0 > .contents1 {
  text-align: center;

}

.icons{
  display: flex;
  width: 1280px;
  height: 302px;
  margin: auto;
}

.icons > li {
  flex:1;
  background: #fff;
  margin-top: 49px;
  height: 302px;
  text-align: center;
}

.icons > li > .icon_img{
  margin-top: 37px;
}

.icons > li:not(:last-child){
  margin-right: 21px;
}

.icons .contents1 {
  width: 190px;
  margin: auto;
  /* letter-spacing: -1px; */
}

.click{
  width: 100px;
  height: 30px;
  background: #2F7AF4;
  color: #fff;
  font-size: 12px;
  line-height: 30px;
  margin: 25px auto;
  cursor: pointer;
}


.h-container .click1{ 
  display:inline-block;
  line-height: 30px;

}

.click1{
  width: 80px;
  height: 30px;
  background: #2F7AF4;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}