<ul class="amount">
    <li>
        <div>
            <div class="contents1"><%= user.name %> 관리자님 </div>
            <div class="contents2">반갑습니다</div>
        </div>
    </li>
    <li>
        <div>
            <div class="contents1">실시간 문의</div>
            <div class="contents2"><a href="/chat" style="cursor: pointer;">바로가기</a></div>
        </div>
    </li>
    <li>
        <div>
            <div class="contents1">등급</div>
            <div class="contents2">관리자</div>
        </div>
    </li>
    <li>
        <div>
            <div class="contents1">관리자 프로필</div>
            <div class="contents2"><a href="/mypage" style="cursor: pointer;">바로가기</a></div>
        </div>
    </li>
</ul>