<ul class="amount">
    <li>
        <div>
            <div class="contents1"><%= user.name %> 회원님 </div>
            <div class="contents2">반갑습니다</div>
        </div>
    </li>
    <li>
        <div>
            <div class="contents1">내 포인트</div>
            <div class="contents2"><%= user.point %></div>
        </div>
    </li>
    <li>
        <div>
            <div class="contents1">등급</div>
            <div class="contents2">회원</div>
        </div>
    </li>
    <li>
        <div>
            <div class="contents1">내 프로필</div>
            <div class="contents2"><a href="/mypage" style="cursor: pointer;">바로가기</a></div>
        </div>
    </li>
</ul>