<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light container">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mypage"> 안녕 </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/" style="cursor: pointer;" >로그아웃</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">about</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<div class="intro_bg">
  <div class="header" id="link_header">     
      <ul class="nav">
          <li class="hover"><a href="/">Home</a></li>
          <li class="hover"><a onclick="login('/login','','315','480');", style="cursor: pointer;">로그인</a></li>
          <li class="register"<a onclick="register('/register','','315','480');", style="cursor: pointer;">회원가입</a></li>
          <li class="register"<a onclick="management('/managerlogin','','315','480');", style="cursor: pointer;">관리자</a></li>
          <li class="hover"><a href="#link_main_text0">About</a></li>
      </ul>
  </div>
  <div class="intro_text">
      <h1 class="dreamdream"> Dream Dream</h1>
      <h4 class="contents1"> 저희는 꿈을 드리는 사람들 입니다.</h4>
  </div>
</div>

