<section class="mainsection">
      <div>
        <h1>회원관리</h1>
        <div>
          회원검색(id) : <input id="customerId" /><button
            onclick="customerFind()"
          >
            검색
          </button>
        </div>
      </div>

      <div>
        <h1>상품관리</h1>
        <div>
          상품검색(상품명)<input id="goodsId" /><button
            onclick="location.href='/management/goods'"
          >
            등록하기</button
          ><button>검색</button>
        </div>
      </div>
</section>

