<div class="main_text0" id="link_main_text0">
    <h1>관리자</h1>
    <div class="contents1"> 드림드림을 관리해볼까 </div>
    
    <ul class="icons">
        <li>
            <div class="icon_img">
                 <!-- 아이콘 이미지크기 width:136.11 height:127.66 -->
                <img src="../public/images/상품등록.png">
            </div>
            <div class="contents1_bold"> 상품등록 </div>
            <div class="contents3"> 상품을 등록해볼까요</div>
            <div class="click"> 클릭하기 </div>
        </li>
        <li>
            <div class="icon_img">
                 <!-- 아이콘 이미지크기 width:136.11 height:127.66 -->
                <img src="../public/images/회원관리.png">
            </div>
            <div class="contents1_bold"> 회원관리 </div>
            <div class="contents3"> 회원을 관리해볼까요 </div>
            <div > 회원검색(id):  <input id="customerId" /><button
                onclick="customerFind()"> </div>
            <button class="click"> 클릭하기 </button>
        </li>
        <li>
            <div class="icon_img">
                 <!-- 아이콘 이미지크기 width:136.11 height:127.66 -->
                <img src="../public/images/주문관리.png">
            </div>
            <div class="contents1_bold"> 주문관리 </div>
            <div class="contents3"> 주문들을 관리해볼까요</div>
            <div class="click"> 클릭하기 </div>
        </li>
    </ul>
</div>

<!-- <div>
    회원검색(id) : <input id="customerId" /><button
      onclick="customerFind()"
    >
      검색
    </button>
  </div> -->