<div class="main_text0" id="link_main_text0">
    <h1>상품</h1>
    <div class="contents1"> 원하는 꿈을 찾아볼까요</div>
    
    <ul class="icons">
        <li>
            <div class="icon_img">
                 <!-- 아이콘 이미지크기 width:136.11 height:127.66 -->
                <img src="../public/images/공포상품.png">
            </div>
            <div class="contents1_bold"> 오싹오싹 꿈 </div>
            <div class="contents3"> 무시무시한 공포꿈을 꾸실 준비가 되었을까요</div>
            <div class="click"> 구매하기 </div>
        </li>
        <li>
            <div class="icon_img">
                 <!-- 아이콘 이미지크기 width:136.11 height:127.66 -->
                <img src="../public/images/해적상품.png">
            </div>
            <div class="contents1_bold"> 위대한 보물여행 꿈</div>
            <div class="contents3"> 해적들과 함께 보물 찾을 준비 되셨을까요 </div>
            <button class="click"> 구매하기 </button>
        </li>
        <li>
            <div class="icon_img">
                 <!-- 아이콘 이미지크기 width:136.11 height:127.66 -->
                <img src="../public/images/돌고래상품.png">
            </div>
            <div class="contents1_bold"> 신비로운 바다 체험 꿈 </div>
            <div class="contents3"> 돌고래와 함께 바다여행 준비 되셨을까요</div>
            <div class="click"> 구매하기 </div>
        </li>
    </ul>
</div>
<div id="pagination"></div>

<!-- <div>
    회원검색(id) : <input id="customerId" /><button
      onclick="customerFind()"
    >
      검색
    </button>
  </div> -->